# ---------------------------
# Java / Spring Boot
# ---------------------------

*.class          # file compilati
target/          # cartella build Maven
build/           # cartella build Gradle/Android

# ---------------------------
# Android Studio
# ---------------------------

.idea/           # configurazioni IDE
*.iml            # moduli IntelliJ/Android Studio
local.properties # path SDK locale

# ---------------------------
# File OS generici
# ---------------------------

.DS_Store        # macOS
Thumbs.db        # Windows
# ---------------------------
# OneDrive / file temporanei Windows
# ---------------------------

~$*              # file temporanei creati da Office/OneDrive
tmp/             # cartelle temporanee Android build
out/             # cartelle temporanee Android build
*.log            # log generati durante la build

#android
.gradle/         # cache locale Gradle
captures/        # screenshot/capture Android Studio
.externalNativeBuild/
*.apk
*.ap_
*.aab
